meta(name="mobile-web-app-capable" value="yes")
meta(name="msapplication-square70x70logo" content=baseUrl + "img/favicons/windows-tile-70x70.png")
meta(name="msapplication-square150x150logo" content=baseUrl + "img/favicons/windows-tile-150x150.png")
meta(name="msapplication-square310x310logo" content=baseUrl + "img/favicons/windows-tile-310x310.png")
meta(name="msapplication-TileImage" content=baseUrl + "img/favicons/windows-tile-144x144.png")
meta(name="msapplication-TileColor" content="#0DAFDD")
link(rel="apple-touch-icon-precomposed" sizes="152x152" href=baseUrl + "img/favicons/apple-touch-icon-152x152-precomposed.png")
link(rel="apple-touch-icon-precomposed" sizes="120x120" href=baseUrl + "img/favicons/apple-touch-icon-120x120-precomposed.png")
link(rel="apple-touch-icon-precomposed" sizes="76x76" href=baseUrl + "img/favicons/apple-touch-icon-76x76-precomposed.png")
link(rel="apple-touch-icon-precomposed" sizes="60x60" href=baseUrl + "img/favicons/apple-touch-icon-60x60-precomposed.png")
link(rel="apple-touch-icon-precomposed" sizes="144x144" href=baseUrl + "img/favicons/apple-touch-icon-144x144-precomposed.png")
link(rel="apple-touch-icon-precomposed" sizes="114x114" href=baseUrl + "img/favicons/apple-touch-icon-114x114-precomposed.png")
link(rel="apple-touch-icon-precomposed" sizes="72x72" href=baseUrl + "img/favicons/apple-touch-icon-72x72-precomposed.png")
link(rel="apple-touch-icon" sizes="57x57" href=baseUrl + "img/favicons/apple-touch-icon.png")
link(rel="icon" sizes="228x228" href=baseUrl + "img/favicons/coast-icon-228x228.png")
link(rel="icon" sizes="196x196" href=baseUrl + "img/favicons/homescreen-196x196.png")
link(rel="shortcut icon" href=baseUrl + "img/favicons/favicon.ico")
link(rel="icon" type="image/png" sizes="64x64" href=baseUrl + "img/favicons/favicon.png")