include mixins

-var metaDescription = "A description of your website"; //- Keep between 150 and 160 characters
-var metaKeywordsGlobal = "your,website,keywords"; //- Global and page keywords should contain relevant keywords (max 20)

block variables

//- Set page title if none available
if !pageTitle
  -pageTitle = websiteTitle;


doctype html
html(lang="en")

  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no")
    meta(name="author" content="Ward Oosterlijnck")


    //- Meta and title tags, link to sitemap important for SEO
    meta(name="description" content=metaDescription)
    meta(name="robots" content="index, follow")

    if metaKeywordsGlobal && metaKeywordsPage
      meta(name="keywords" content=metaKeywordsGlobal + ", " + metaKeywordsPage)
    else if metaKeywordsGlobal
      meta(name="keywords" content=metaKeywordsGlobal)
    else if metaKeywordsPage
      meta(name="keywords" content=metaKeywordsPage)

    //- Keep page title under 50 to 60 characters
    block title
      title #{pageTitle}

    //- Sitemap link
    link(href=deployUrl + "sitemap.xml" rel="sitemap" type="application/xml" title="Sitemap")

    //- Canonical link
    link(href=absoluteUrl rel="canonical")

    
    //- Open Graph (facebook)
    meta(property="og:type", content="website")
    meta(property="og:url", content=absoluteUrl)
    meta(property="og:title", content=pageTitle)
    meta(property="og:description", content=metaDescription)
    if shareImgFound
      meta(property="og:image", content=deployUrl + "img/social-share.png")
      meta(property="og:image:width", content="1200")
      meta(property="og:image:height", content="630")

    //- Twitter
    meta(name="twitter:card" content="photo")
    meta(name="twitter:url" content=absoluteUrl)
    meta(name="twitter:title" content=pageTitle)
    meta(name="twitter:description" content=metaDescription)
    if shareImgFound
      meta(name="twitter:image" content=deployUrl + "img/social-share.png")


    //- Include favicons links
    include ../includes/icons

    //- CSS links
    link(href=baseUrl + "assets/style.css" rel="stylesheet" type='text/css')

    //-Google Analytics
    script.
      window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
      ga('create', 'UA-72654540-1', 'auto'); //- Insert tracking ID here
      ga('send', 'pageview');
    script(src="//www.google-analytics.com/analytics.js" async)
      
    //- JS head link
    script(src=baseUrl + "assets/head.js")


  //- Body (ontouchstart fix to enable hover state for tapping on links)
  body(ontouchstart="" class="#{fileName}")#page-top
    #notifications
      <!--[if lt IE 8]>
      <div class="notification danger">
      <div class="container">
      <h5>You are using a dangerously old browser which may cause this site to not work properly. <a href="http://windows.microsoft.com/nl-BE/internet-explorer/download-ie">Please update</a> your browser to have a richer and safer browsing experience.</h5>
      </div>
      </div>
      <![endif]-->
      noscript: .notification.warning
        .container: h5 JavaScript is disabled which may cause this site to not work properly. Please enable JavaScript in your web browser.
      block notifications

    #main
       block content


    //- JS body links
    script(src=baseUrl + "assets/body.js")
    